<style>
    @import "../../frameworks/bootstrap/css/bootstrap.min.css";
    @import "../../frameworks/fontawesome/css/all.min.css";
    @import "../css/wol.css";
</style>

<script>
	import { onMount } from 'svelte';
    import GtgUtilsWeb from '../../frameworks/gtg-svelte/gtg-utils-web.js';
    import CONFIG from '../js/configuration.js';
	import ComputerUI from '../js/computerui.js';

    let container = {
        computers: [ ], // list of computers
        search: '' // to search in computer's names
    };

	// initialiaze computer's list
	function init() {
		for (let pos = 0; pos < CONFIG.computers.length; pos++) {
			container.computers.push(new ComputerUI(CONFIG.computers[pos].user, CONFIG.computers[pos].mac, pos));
        }
	};

	// clear the search field
    function clearSearch() {
        container.search = '';
        search();
    };

	// search matching computers
    function search() {
        for (let pos = 0; pos < container.computers.length; pos++) {
            container.computers[pos].activate(container.search);
        }
    };

    // go to WOL function
    container.goWol = function(name) {
        GtgUtilsWeb.route(CONFIG.urls.wakeup + '/' + name);
    };

	// run search when field change
    $: (0 <= container.search.length) && (search());

    // initialize list
    init();
</script>

<main>
	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row-reverse align-items-top g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				{#if container.computers}
					<div class="wol-list" id="wol">
					{#each container.computers as pc, idx}
						<div class="col col-md-4 wol-computer wol-{idx}">
							<a class="btn btn-sm {pc.color}" on:click={container.goWol(pc.userName)}>
								<i class="fa-solid float-start {pc.icon}"></i>
								{pc.userName}
							</a>
						</div>
					{/each}
					</div>
				{/if}
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">Wake on LAN&nbsp;<i class="fa-solid fa-bed text-warning"></i></h1>
				<p class="lead">Click on your computer to wake it up.</p>
				<div class="input-group">
					<input type="text" id="wol-filter" class="form-control" placeholder="Enter first letters of your computer's name" bind:value={container.search} />
					<button id="wol-clear" class="btn btn-sm btn-outline-secondary" on:click="{clearSearch}"><i class="fa-solid fa-times"></i>&nbsp;Clear</button>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar fixed-bottom navbar-light bg-dark justify-content-center">
		<ul class="navbar-nav">
			<li class="nav-item text-white-50 wol-copyright">Favicon made by <a href="https://www.flaticon.com/authors/eucalyp" target="_flaticon">Eucalyp</a></li>
		</ul>
	</nav>
</main>