<style>
    @import "../../frameworks/bootstrap/css/bootstrap.min.css";
    @import "../../frameworks/fontawesome/css/all.min.css";
    @import "../css/wol.css";
</style>

<script>
	import GtgUtilsWeb from '../../frameworks/gtg-svelte/gtg-utils-web.js';
	import CONFIG from '../js/configuration.js';

    function goHome() {
        GtgUtilsWeb.route(CONFIG.urls.computers);
    };
</script>

<main id="wol-ok" class="bg-success text-white">
	<div class="container col-xxl-8 px-4 py-5">
		<div class="row flex-lg-row align-items-top g-5 py-5 text-center">
			<i class="fa-solid fa-circle-check fa-8x"></i><br />
			<span>Your computer is starting. Please wait 2 minutes before launching remote connection.</span>
			<br />
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-2"><a class="btn btn-sm btn-outline-light" on:click="{goHome}"><i class="fa-solid fa-times"></i>&nbsp;Close</a></div>
				<div class="col-md-5"></div>
			</div>
		</div>
	</div>
</main>
