<style>
    @import "../../frameworks/bootstrap/css/bootstrap.min.css";
    @import "../css/wol.css";
</style>

<script>
	import { onMount } from 'svelte';
    import { Router, Link, Route } from "svelte-routing";
    import GtgUtilsWeb from '../../frameworks/gtg-svelte/gtg-utils-web.js';
    import GtgUtilsTools from '../../frameworks/gtg-svelte/gtg-utils-tooling.js';
    import CONFIG from '../js/configuration.js';
    import CmpSuccess from './cmpSuccess.svelte';
    import CmpError from './cmpError.svelte';

	export let name; // parameter got from url

	onMount(() => {
		let pc;
		let data;

		// check if computer name is in list
		try {
			pc = GtgUtilsTools.getElementFromArray('user', name, CONFIG.computers);
			data = { mac: pc.mac };
			// ask server to produce a wake on lan request to wake up computer.
			GtgUtilsWeb.postJson(CONFIG.urls.wol, data, function(data) {
				if (data && data.wakeSent) {
					GtgUtilsWeb.route(CONFIG.urls.success);
				} else {
					GtgUtilsWeb.route(CONFIG.urls.error);
				}
            }, function(error) {
                GtgUtilsWeb.route(CONFIG.urls.error);
            } );
		} catch (ex) {
			// computer not found in list.
            GtgUtilsWeb.route(CONFIG.urls.error);
		}
	} );
</script>

<main id="wol-wait" class="bg-dark text-white text-center">
	<div class="wol-wait-load"></div>
	<div class="wol-wait-text">Please wait while your computer is waking up.</div>
</main>
