<style>
    @import "../../frameworks/bootstrap/css/bootstrap.min.css";
    @import "../css/wol.css";
</style>

<script>
	import { onMount } from 'svelte';
    import { Router, Link, Route } from "svelte-routing";
    import CONFIG from '../js/configuration.js';
    import CmpComputers from './cmpComputers.svelte';
    import CmpWakeup from './cmpWakeup.svelte';
	import CmpSuccess from './cmpSuccess.svelte';
	import CmpError from './cmpError.svelte';

	let container = {
		urlSpa: CONFIG.urls.computers
	};
</script>

<main>
	<Router url="{container.urlSpa}">
		<Route path="{CONFIG.urls.computers}"><CmpComputers /></Route>
		<Route path="{CONFIG.urls.wakeup}/:name" component="{CmpWakeup}"></Route>
		<Route path="{CONFIG.urls.success}"><CmpSuccess /></Route>
		<Route path="{CONFIG.urls.error}"><CmpError /></Route>
	</Router>
</main>